
body {
    font-family: 'helvetica';
   }
   .item1 {grid-area: header;}
   .item2 {grid-area: menu;}
   .item3 {grid-area: main;}
   .item4 {grid-area: right;
   }
   .item5 {grid-area: footer;}
   
   .grid-container {
       display: grid;
       grid-template-areas: 
       'header header header header header header'
       'menu main main main right right'
       'footer footer footer footer footer footer'
       ;
       grid-template-rows: auto 1fr auto;
       gap: 1px;
       padding: 10px;
       height: 100vh;
   
   }
   .grid-container > div {
       background-color: #c5cac8;
       text-align: center;
       padding: 20px 0;
       font-size: 14px;
   }
   /* Top Menu */
   .top-menu ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       display: flex;
       justify-content: space-around;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       background-color: none;
   }
   .top-menu ul li a {
       color: rgb(0, 0, 0);
       text-decoration: none;
       font-size: 40px;
       padding: 10px;
   }
   .top-menu ul li a:hover {
       text-decoration: underline;
       color: rgb(149, 11, 6);
   }
   /*left Menu*/
   .item2 {
       height: 100%;
       margin: 1px 1px 1px 1px;
       padding: 10px 2px 2px 10px;
   }
   .side-menu {
    outline: 1px;
    outline-color: black;
   }
   /*Center Menu*/
   .item3 {
    padding: 15px 10px 10px 15px;
    margin: 1px 1px 1px 1px;
}
   
    /*Right Menu*/
   .right-menu {
    list-style: none;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin: 1px 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, .5);
    justify-content: space-around;
    display: flex;
   }
   /*Footer*/
   .footer-links {
       display: flex;
       justify-content: center;
       margin: 0;
       padding: 0;
   }
   .footer-links .footer-column {
       width: 60%;
   }
   .footer-links .footer-column h6 {
       border-bottom: 2px solid #46748a;
       padding-bottom: 10px;
   }
   .footer-links .footer-column ul {
       list-style-type: none;
       padding: 0;
   
   }
   .footer-column ul li a {
       color: rgb(0, 0, 0);
       text-decoration: none;
       justify-content: center;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   
   .item5 {
       background-color: tan;
       margin: 1px 1px 1px 1px;
   }
   /*text*/
   h4 h5 h6 {
    font-size: 20px;
    justify-content: center;
    font-size: large;
    color:#98c2d6;
}
    p {
        word-spacing: 4px;
        border-spacing: 3px;
    }
   
   /*lists*/
   ul li {
    list-style-type: none;
    justify-content: left;
    list-style: none;
    display: flex;
   }
   /*Contact*/
   .form {
    justify-content: left;
    text-align: left;
   }
   /*Animation*/
  @keyframes bgcolor {
    0% {
        background-color: #98c2d6
    }

    30% {
        background-color: #46748a
    }

    60% {
        background-color: #d5ba98
    }

    90% {
        background-color: #ffe9cf
    }

    100% {
        background-color: #98c2d6
    }
}

body {
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 50s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
/*web table*/
    table {
        outline-color: silver;
        font-size: medium;
        font-size: 15px;
        text-align: left;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        padding: 15px 15px 15px 15px;
        margin: 2px 2px 2px 2px;
    }

/*Webpage Scaling*/
@media screen and (max-width: 800px) {
    .item2 .item3 .item4 {
      width: 100%; 
    }}
